nav
{
    background-color: var(--primary1);

    height:4.5rem;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-around;

    font-size: var(--font-h7);
    font-weight: bold;

    box-shadow: 0px 4px 4px 0px var(--shadow);
}

.options
{
    display: flex;
    justify-content:center ;
}

.options li
{
    list-style: none;
    padding: 1rem;
}

.options li a
{
    text-decoration: none;
    color:white;
    padding: 1rem;
    transition-property: border-radius,background-color;
    transition-duration: 200ms;
}


/*  */
.user-options
{
    display: flex;
    justify-content:center ;
}

.user-options li
{
    list-style: none;
    padding: 1rem;
}

.user-options li a
{
    text-decoration: none;
    color:white;
    padding: 1rem;
    transition-property: border-radius,background-color;
    transition-duration: 200ms;
}

.logo
{
    height: 4.5rem;
    width: 4.5rem;
}

.joinUs_btn
{
    height: 3rem;
    width: 8rem;

    border-radius: 1rem;
    border:3px solid black;

    background-color: var(--secondary2);
    color:white;

    font-size: var(--font-h5);
    font-weight: bold;
    
    box-shadow: 0px 4px 4px 0px var(--shadow);
    transition-property: border-radius,background-color;
    transition-duration: 200ms;
}

/* Actions */

.joinUs_btn:hover
{
    transform: scale(109%);
    background-color: var(--secondary3);
    
}
/* 
.link:hover
{
    background-color: var(--secondary3);
    border-radius: 1rem;
    
} */

.options li a:hover
{
    background-color: var(--secondary3);
    border-radius: 1rem;
    
}
nav a.active
{
    background-color: var(--secondary3);
    border-radius: 1rem;
    
}

/* mobile navbar */
/* Mobile navbar - hidden on desktop */
.mobile-navbar {
    display: none;
  }
  


.mobile-icons
{
    width: 1.625rem;
    height: 1.5rem;
}


.mobile-navbar .options li
{
    padding: 0;
}


.mobile-navbar a.active
{
    background-color: var(--secondary3);
    border-radius: 1rem;
    
}
/* Actions */

  /* Mobile styles */
  @media screen and (max-width: 768px) {
    nav {
      display: none; /* Hide full navbar */
    }
  
    .mobile-navbar {
      display: flex;
      justify-content: space-around;
      align-items: center;
      position: fixed;
      bottom: 0;
      width: 100%;
      height: 4rem;
      background-color: var(--primary1);
      box-shadow: 0 4px 4px 0px var(--shadow);
      z-index: 1000;
    }
  
 
  }
  